@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} 
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-bgContrast: #f9f9f9;
}
@layer theme {
  .dark {
    --color-bgContrast: #071e57;
  }
}


