@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme {
  --color-bgContrast: #f9f9f9;
}
@layer theme {
  .dark {
    --color-bgContrast: #071e57;
  }
}

@layer utilities {
  .content-visibility-auto {
    content-visibility: auto;
  }
}
